.main-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imgs/Poster.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
}
.container {
    max-width: 1244px;
    width: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    
}
.header_navigation-text {
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    font-weight: 400;
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    
}
.movie_box {
    align-items: center;
    display: flex;
}
.header__navigation-search {
    padding-right: 10px;
}
.sign-in__text {
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding-right: 27px;
}
.header__sign-in {
    display: flex;
    align-items: center;
}

.first_slide {
    max-width: 1244px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header__site-name {
    font-weight: 700;
    font-size: 24px;
    color: white;
    padding-left: 24px;
}
.header__navigation-border {
    width: 525px;
    height: 36px;
    border-radius: 6px;
    border-style: solid;
    border: 2px #D1D5DB solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__watch-button {
    background-color: #BE123C;
    width: 169px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__watch_text {
    font-weight: 700;
    font-size: 14px;
    color: white;
    padding-left: 8px;
}

.right-column {
    width: 36px;
    height: 110px;
    padding-top: 110px;
}
.header__movie-info {
    display: flex;
    flex-direction: column;
    width: 404px;
    height: 258px;
    gap: 16px;
    padding-top: 78px;
}

.header__movie-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white;
    width: 302px;
}
.movie__ratings {
    display: flex;
    flex-direction: row;
    gap: 34px;
}
.ratings__yellow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ratings__tomato {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ratings__yellow-text {
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}
.tomato__text {
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}

.header__navigation-text {
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    font-weight: 400;
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    
}
.nav_text::placeholder {
    color: rgb(255, 255, 255);
}