.search {
    padding-right: 10px;
}
.sign {
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding-right: 27px;
}

.sign_in {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 404px;
    height: 258px;
    gap: 16px;
    padding-top: 78px;
}
.ratings {
    display: flex;
    flex-direction: row;
    gap: 34px;
}
.yellow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tomato {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.yellow_rate_text {
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}
.tomato_text {
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}


.container {
    max-width: 1244px;
    width: 100%;
}
.second_slide__title_text {
    font-weight: 700;
    font-size: 36px;
}
.second_slide__see_more {
    color: #BE123C;
    font-size: 18px;
    font-weight: 400;
    padding-right: 8px;
}
.second_slide__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
}
.second_slide__red_title {
    display: flex;
    align-items: center;
}
.first_slide {
    max-width: 1244px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.movie__date {
    font-weight: 700;
    font-size: 12px;
    color: #9CA3AF;
}
.movie__name {
    font-weight: 700;
    font-size: 18px;
    color: #111827;
}
.rating_yellow__rating2 {
    font-size: 12px;
    font-weight: 400;
    color: #111827;
    padding-left: 10px;
}
.rating_tomato__rating2 {
    font-size: 12px;
    font-weight: 400;
    color: #111827;
    padding-left: 10px;
}
.movie__genre {
    font-weight: 700;
    font-size: 12px;
    color: #9CA3AF;
}
.movie__rating {
    display: flex;
    flex-direction: row;
}
.tomato__rating {
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.movie_yellow__rating {
    display: flex;
    align-items: center;
}
.movie__card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
    height: 490px;
}

.movie__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.movie_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1244px;
    gap: 44px;
}
.container_content {
    width: 1244px;
}
.second_slide {
    display: flex;
    justify-content: center;
}




.slider-element {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
    height: 490px;
}

.slider-element__vertical {
    width: 250px;
    height: 370px;
    padding-top: 44px;
    display: flex;
    gap: 44px;
}

.slider-element__horizontal {
    width: 450px;
    height: 288px;
    padding-top: 44px;
    display: flex;
    gap: 44px;
}

.movie {
    font-weight: 700;
    color: white;
    font-size: 48px;
    line-height: 58px;
}

.title__title_text {
    font-weight: 700;
    font-size: 36px;
    color: black;
}
.third_slide__title {
    display: flex;
    flex-direction: row;
    gap: 871px;
}

